@font-face {
    font-family: 'A';
    font-weight: 500;
    src: url(./AM.otf) format('opentype');
}
@font-face {
    font-family: 'A';
    font-style: normal;
    font-weight: 400;
    src: url(./AR.otf) format('opentype');
}
@font-face {
    font-family: 'A';
    font-style: italic;
    font-weight: 400;
    src: url(./ARI.otf) format('opentype');
}